print is nothing it is a function. inside the " " what i have write print as an output.

print("shubham")

In [2]:
print('shubham')

shubham

In [4]:
print("shubham)

SyntaxError: EOL while scanning string literal (<ipython-input-4-c1d4a23dab95>, line 1)

if any mistake we have done in  a code  "^" this sign give me location where we made a mistake.

In [5]:
my name is shubham

SyntaxError: invalid syntax (<ipython-input-5-0ee7c0d2c695>, line 1)

In [6]:
#my name is shubham

if we put "#" before starting the line then in python that line is comment.
----> It is a single line comment.

In [7]:
#my name is shubham
fd
hejf
bdhg
dhgf

NameError: name 'fd' is not defined

In [8]:
#my name is shubham
"""fd
hejf
bdhg
dhgf"""

'fd\nhejf\nbdhg\ndhgf'

if we write a multiline comment then use """ at the starting point and """ at the end of the line.

In [9]:
print("khfkjdsh")
print("shjhdjk")
print("jkjfvd")

khfkjdsh
shjhdjk
jkjfvd

In [10]:
"""print("khfkjdsh")
print("shjhdjk")
print("jkjfvd")"""

'print("khfkjdsh")\nprint("shjhdjk")\nprint("jkjfvd")'

In [11]:
a=10

In [12]:
a

10

it try to create a memory in our RAM/MM named a and strore in a is 10.if i call a then return stored data.
varible name is anything.
variable is nothing it hold  a data.

In [13]:
type(a)

int

type() is a function in python it return which type of variable i stored.

In [14]:
b="shubbham"

In [15]:
b

'shubbham'

In [16]:
type(b)

str

in python string return in single quote' '. if we write string in double quote " " then it also return in ' '.

In [17]:
c='shubham'

In [18]:
c

'shubham'

In [19]:
print(b , a)

shubbham 10

In [20]:
print(b ,a 'shubham')

SyntaxError: invalid syntax (<ipython-input-20-52eeffcce307>, line 1)

In [21]:
print(b ,a ,'shubham')

shubbham 10 shubham

In [22]:
a=45
b="shubham"

In [23]:
a , b=45,"shubham"

In [24]:
a

45

In [25]:
b

'shubham'

In [26]:
a , b

(45, 'shubham')

In [27]:
b, a

('shubham', 45)

in 22,23 both are correct . in python, we declear two or more variable in a same line.

In [28]:
print(a,b)

45 shubham

In [29]:
1b='shubham'

SyntaxError: invalid syntax (<ipython-input-29-80295f85d300>, line 1)

in python, variable declearation is not start with the integer,special character(@,#) .

In [30]:
_b=42

In [31]:
_b

42

In [32]:
name='shubham'
userid='in001'
password="crivb"
email="shubknct123@gmail.com"

In [33]:
email

'shubknct123@gmail.com'

In [34]:
userid

'in001'

In [35]:
a=1.6

In [36]:
type(a)

float

In [37]:
b=true
c=false

NameError: name 'true' is not defined

In [38]:
b=True
c=False

In [39]:
type(b)

bool

In [40]:
tyoe(c)

NameError: name 'tyoe' is not defined

In [41]:
type(c)

bool

In [43]:
print(True+True+True+False+True)
print(False-True+True)

4
0

true=1,false=0

In [44]:
True/False

ZeroDivisionError: division by zero

In [45]:
False/True

0.0

In [46]:
n=45+6j

In [47]:
type(n)

complex

complex=real+imagenary, j is a only number in python represent complex number.

In [48]:
n

(45+6j)

In [49]:
n.real

45.0

In [50]:
n.imag

6.0

In [51]:
1+"subham"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

in python can not convert one variable to another variable.
if we convert intto string then use str() function or " ".,that is called typecasting or strong casting.

In [52]:
str(1)+"subham"

'1subham'

In [53]:
"1"+"subham"

'1subham'

In [54]:
1+1.0

2.0

In [55]:
"subh"+"subh"+"subh"

'subhsubhsubh'

In [57]:
"subh"*3

'subhsubhsubh'

in 55 or 57 both are give same output .

In [58]:
a = input()

shubham

In [59]:
a

'shubham'

input() inbuilt function
whatever input it take convert in string.

In [60]:
a=input("enter a name")

enter a nameshubham

In [61]:
a

'shubham'

In [69]:
a=int(input("enter 1st number"))
b=int(input("enter 2nd number"))
c=int(input("enter 3rd number"))
o=(a+b)/c
o1=o + 45+5j
str(o1)+"shubham"

enter 1st number50
enter 2nd number45
enter 3rd number20

'(49.75+5j)shubham'

In [74]:
a = int(input("input a number lesser than 34 ---"))
if a < 34 :
    print("data input a number lesser than 34 and i am fine with it")
elif a < 100 :
    print("my data is lesser than 100")
else :
        print("user input is not lesser than 34")

input a number lesser than 34 ---78
my data is lesser than 100

In [79]:
salary = int(input("enter your salary : "))
if salary > 1000:
    print("buy a car")
elif salary > 500:
    print("buy a bike")
elif salary > 100:
    print("not buy anything")
else:
    print("go for saving")

enter your salary : 501
buy a bike

In [80]:
salary = int(input("enter your salary : "))
if salary > 1000:
    print("your salary is good")
    if salary > 5000 :
        print("go with a car maruti")
        if True :
            print ("false code")
    elif salary > 10000 :
        print("go with nano")
    elif salary > 50000 :
        print("go with tyota")
    else :
        print("go for rent")
elif salary > 500:
    print("buy a bike")
elif salary > 100:
    print("not buy anything")
else:
    print("go for saving")

enter your salary : 10002
your salary is good
go with a car maruti
false code